<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.87.0">
<title>Login Cataastro</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<!-- Custom styles for this template -->
<link href="css/dashboard.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Geo Servicios Sena</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="px-3 btn btn-danger" href="logout">Cerrar Sesión</a>
    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button class="nav-link btn btn-primary text-white" onclick="cargarPagina()">
              <span data-feather="home"></span>
              Registro Tramites Conservacion SNC
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Registros Almacenados IGAC</h2>
        <h2>Bienvenido:
          <% if (user) { %>
            <span class="badge bg-success"><%= user.name %></span>
          <% } %>
        </h2>
      </div>
      <div id="iframe-container">
        <!-- Aquí se cargará la página -->
      </div>
    </main>
  </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
<script>
  function cargarPagina() {
      var iframe = document.createElement('iframe');
      iframe.setAttribute('src', 'http://localhost:5173');
      iframe.style.width = '100%';
      iframe.style.height = 'calc(100vh - 120px)'; /* Ajustar según el diseño */
      iframe.style.border = 'none';
      document.getElementById('iframe-container').innerHTML = '';
      document.getElementById('iframe-container').appendChild(iframe);
  }
</script>
</body>
</html>
